<hr style='border: 1px solid black;'>
<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: center; color:purple;'> <b>Clustering: extraindo padrões de dados</b>
<hr style='border: 1px solid black;'>

<img src="img/cluster.gif" width="320" align="center">
<br>
<br>

<p style='font-size: 14px; line-height: 2; margin: 10px 50px; text-align: left; color:purple;'><i> Projeto desenvolvido por Gabriela Villagran durante o curso "Clustering: extraindo padrões de dados"</i>

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b>1. Importando pandas, numpy e plotly</b></p>

<a href = "https://pandas.pydata.org/docs/" style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> Documentação Pandas </a>

<a href = "https://numpy.org/doc/stable/user/index.html" style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> Documentação Numpy </a>

<a href = "https://plotly.com/python-api-reference/generated/plotly.graph_objects.Figure.html" style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> Documentação Plotly </a>

In [1]:
import pandas as pd
import numpy as np

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b>1.1 Sobre os dados:</b></p>

<a href = "https://www.kaggle.com/datasets/arjunbhasin2013/ccdata" style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> Arquivo no Kaggle</a>
    
<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> O conjunto de dados de amostra resume o comportamento de uso de cerca de 9.000 portadores de cartão de crédito ativos durante os últimos 6 meses.  Abaixo estão explicitadas as features.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>BALANCE: limite que o cliente tem disponível na conta, descontando o que ele já utilizou
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>BALANCEFREQUENCY: frequência que esse balanço é alterado.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PURCHASES: Valor gastos em compras.
        
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>ONEOFFPURCHASES : Valor máximo de compra feito de uma só vez.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> INSTALLMENTSPURCHASES : Valor da compra parcelada.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> CASHADVANCE : Dinheiro adiantado dado pelo usuário.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PURCHASESFREQUENCY :Com que frequência as compras estão sendo feitas, pontuação entre 0 e 1 (1 = comprado com frequência, 0 = comprado com pouca frequência).
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>ONEOFFPURCHASESFREQUENCY: Com que frequência as compras acontecem de uma só vez (1 = compradas com frequência, 0 = compradas sem frequência).
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PURCHASESINSTALLMENTSFREQUENCY : Com que frequência as compras parceladas estão sendo feitas (1 = feitas com frequência, 0 = feitas com pouca frequência).

<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>CASHADVANCEFREQUENCY:  Com que frequência o dinheiro adiantado está sendo pago.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>CASHADVANCETRX :Número de transações feitas com "Cash in Advanced".
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PURCHASESTRX:Número de transações de compra realizadas.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>CREDITLIMIT:Limite de cartão de crédito para usuário.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PAYMENTS: Valor do pagamento feito pelo usuário.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>MINIMUM_PAYMENTS: valor mínimo de pagamentos feitos por uso.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>PRCFULLPAYMENT: Porcentagem do pagamento integral pago pelo usuário.
    
<li style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>TENURE: Posse do serviço de cartão de crédito para o usuário. É o tempo de renovação do contrato.

In [2]:
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/alura-clustering-validation/base-de-dados/CC%20GENERAL.csv')

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 2. Visualizando os dados</b>

In [3]:
dados.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [4]:
dados.shape

(8950, 18)

<p style='font-size: 22px; line-height: 2; margin: 20px 50px; text-align: justify; color:purple;'> <b> 3. Pré-processamento dos dados</b>
    
    
<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 3.1 Retirada de features</b>    
    
<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>Limpar e retirar o que for desnecessário e organizar as informações para diminuir o risco de possíveis problemas durante a clusterização. Serão removidos as features TENURE por ser constante, e o ID.

In [5]:
dados.drop(columns=['TENURE', 'CUST_ID'], inplace = True)

In [6]:
dados.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 3.2 Tratamento de dados faltantes</b>

In [7]:
# Procurando dados faltantes
missing = dados.isna().sum()
missing

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
dtype: int64

In [8]:
# Para os dados faltantes será adotado o valor da mediana da feature.
dados[['CREDIT_LIMIT', 'MINIMUM_PAYMENTS']].median()

CREDIT_LIMIT        3000.000000
MINIMUM_PAYMENTS     312.343947
dtype: float64

In [9]:
# Substituindo
dados.fillna(dados.median(), inplace=True)

In [10]:
# Verificando 
missing = dados.isna().sum()
missing

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 3.3 Normalização dos dados</b></p>
<a style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;' href=" https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Normalizer.html">Documentação SKlearn</a>

In [11]:
from sklearn.preprocessing import Normalizer

values = Normalizer().fit_transform(dados.values)
values

array([[3.93555441e-02, 7.87271593e-04, 9.17958473e-02, ...,
        1.94178127e-01, 1.34239194e-01, 0.00000000e+00],
       [2.93875903e-01, 8.34231560e-05, 0.00000000e+00, ...,
        3.76516684e-01, 9.84037959e-02, 2.03923046e-05],
       [3.10798149e-01, 1.24560965e-04, 9.63068011e-02, ...,
        7.74852335e-02, 7.81351982e-02, 0.00000000e+00],
       ...,
       [2.27733092e-02, 8.11060955e-04, 1.40540698e-01, ...,
        7.90986945e-02, 8.02156174e-02, 2.43318384e-04],
       [2.65257948e-02, 1.64255731e-03, 0.00000000e+00, ...,
        1.03579625e-01, 1.09898221e-01, 4.92767391e-04],
       [1.86406219e-01, 3.33426837e-04, 5.46778061e-01, ...,
        3.15915455e-02, 4.41568390e-02, 0.00000000e+00]])

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 4. Executando o clustering</b></p>

<a style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;' href="https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html">Documentação do KMeans</a>  
<a style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;' href=" https://medium.com/programadores-ajudando-programadores/k-means-o-que-%C3%A9-como-funciona-aplica%C3%A7%C3%B5es-e-exemplo-em-python-6021df6e2572">K-means</a>    

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>K-Means é um algoritmo de clusterização (ou agrupamento) disponível na biblioteca Scikit-Learn.
É um algoritmo de aprendizado não supervisionado (ou seja, que não precisa de inputs de confirmação externos) que avalia e clusteriza os dados de acordo com suas características.
    
<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'><b>n_init</b> como 10, o que isso significa? O KMeans é um algoritmo não-determinístico, isto é, a cada execução, obteremos um resultado diferente. Então configurando o valor 10, dez vezes seguidas o caminho deve retornar o mesmo valor.

In [12]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=5, n_init=10, max_iter=300)

In [13]:
# resultado do kmeans
y_pred = kmeans.fit_predict(values)
y_pred

array([0, 4, 0, ..., 0, 0, 2])

In [21]:
# Vendo quantos clusters
np.unique(y_pred)

array([0, 1, 2, 3, 4])

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 4.1 Validação do clustering</b></p>

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>No caso das <b>métricas externas</b>, precisamos ter labels para realizar cálculos e gerar a validação. Como não temos labels, não a utilizaremos neste projeto. Já as métricas internas independem de labels, ainda que possuam uma estrutura mais complexa.

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>As <b>métricas internas</b> se baseiam em dois critérios de validação, e o primeiro deles é compactação, que nos relata quão próximos estão os pontos em um mesmo cluster. Quanto mais próximos os pontos, mais compactado ele está.

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 4.2 Coeficiente de Silhueta K-means</b></p>

<a style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;' href=" https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html">Documentação</a>       
<a style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;' href=" https://medium.com/cwi-software/entendendo-clusters-e-k-means-56b79352b452">Coeficiente de silhueta</a>    
    
    
<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'><b>Qual é o objetivo do coeficiente de silhueta?</b> Avaliar os pontos em uma escala de -1 a 1, em relação ao grupo que é a coesão. Exemplo: A minha casa em relação aos membros do meu bairro, em relação aos demais pontos dos outros grupos, que é a de similaridade, ou seja, a minha casa em relação às casas dos outros bairros.

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'> Quanto maior o valor do coeficiente de silhueta, ou seja, quanto maior a coesão e maior a similaridade, melhor e mais bem organizado, mais bem agrupado - segundo o critério de distância - estão os meus pontos.

In [15]:
from sklearn.metrics import silhouette_score

# Etiqueta dos grupos (clusters)
labels = kmeans.labels_

# Média do coeficiente de silhoette
silhoette = silhouette_score(values, labels, metric = 'euclidean')

# Um valor positivo pode ser considerado bom pois ele é maior que 0
# Com isso conseguiremos ter uma ideia se o cluster está bom de acordo com esta métrica ou não.
silhoette

0.3645252169780562

<p style='font-size: 22px; line-height: 2; margin: 10px 50px; text-align: justify; color:purple;'> <b> 4.3 Davies-Bouldin</b></p>

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>O índice de Davies-Bouldin serve para checarmos se os clusters estão bem separados e bem compactos. Quanto mais próximo de 0, melhor serão os clusters.

<p style='font-size: 16px; line-height: 2; margin: 10px 50px; text-align: justify; color:black;'>Para encontrarmos o índice Davies-Bouldin (DB), precisamos tirar a média da soma dos máximos das medidas de similaridade (R_i_j) de cada cluster. A fórmula do índice é dada por DB igual ao quociente com numerador sendo o somatório dos máximos das medidas de similaridades (R_i_j) de cada cluster e denominador sendo a quantidade de clusters definido por k.